$clr-bg: #FAFAFA;
$clr-primary: #C7EEFF;
$clr-primary-light: lighten($clr-primary, 10%);
$clr-primary-dark: darken($clr-primary, 10%);
$clr-secondary: #0176C3;
$clr-secondary-light: lighten($clr-secondary, 10%);
$clr-secondary-dark: darken($clr-secondary, 10%);
$clr-tertiary: #C34E01;
$clr-tertiary-light: lighten($clr-tertiary, 10%);
$clr-tertiary-dark: darken($clr-tertiary, 10%);
$clr-accent: #1D242C;